* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  color: #282626;
}

a {
  text-decoration: none;
}

#landing-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 4fr 4fr;
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../pictures/landing-background.jpg");
  background-size: cover;
  background-position: 50% 0%;
  background-attachment: scroll;
  background-repeat: no-repeat;
  width: 100%;
  height: 400vh;
  color: #282626;
}

#landing-container div {
  /* border: 1px black solid; */
}

.hi {
  display: flex;
  flex-flow: nowrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 3.5em;
  margin-bottom: 2%;
}

.icon {
  background-image: url("../pictures/landing-icon.svg");
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: top;
}

.lobster {
  font-family: 'Lobster', cursive;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.welcome div {
  border: 1px solid black;
}

.welcome div:nth-child(1) {
  display: flex;
  flex-flow: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
  padding-top: 25%;
}

.welcome {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
